<h1>The Product Information</h1>
<div class="container">
  <div class="form-group">
    <label>Product Id</label>
    <input type="text" class="form-control" [(ngModel)]="product.ProductId">
  </div>
  <div class="form-group">
    <label>Product Name</label>
    <input type="text" class="form-control" [(ngModel)]="product.ProductName">
  </div>
  <div class="form-group">
    <label>Category</label>
    <app-select [DataSource]="categories" (onChange)="getCat($event)" [PropertyName]="product.Category"></app-select>
  </div>
  <div class="form-group">
    <label>Manufacturer</label>
    <app-select [DataSource]="manufacturers" (onChange)="getMan($event)" [PropertyName]="product.Manufacturer"></app-select>
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="number" class="form-control" [(ngModel)]="product.Price">
  </div>
  <div class="btn-group-lg">
    <button class="btn btn-warning" (click)="clear()">Clear</button>
    <button class="btn btn-success" (click)="save()">Save</button>
  </div>
  <br />
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prd of products" (click)="onRowClick(prd)">
        <td *ngFor="let col of columns">{{ prd[col] }}</td>
      </tr>
    </tbody>
  </table>
</div>
