<h1>Student information</h1>
<div class="container">
  <div class="form-group">
    <label>StudentId</label>
    <input type="text" class="form-control" [(ngModel)]="student.StudentId">
  </div>
  <div class="form-group">
    <label>StudentName</label>
    <input type="text" class="form-control" [(ngModel)]="student.StudentName">
  </div>
  <div class="form-group">
    <label>City</label>
    <app-select [DataSource]="cities" (onChange)="getCity($event)"
    [PropertyName]="student.City"></app-select>
  </div>
  <div class="form-group">
    <label>StudnetRollNo</label>
    <input type="number" class="form-control" [(ngModel)]="student.StudentRollNo">
  </div>
  <br>
  <div class="btn-group">
    <button class="btn btn-warning m-2" (click)="clear()">Clear</button>
    <button class="btn btn-success m-2" (click)="save()">Save</button>
  </div>

  <!-- <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th *ngFor="let item of columns">{{item}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of students">
        <td *ngFor="let col of columns" (click)="onRowClick(item)">{{item[col]}}</td>
      </tr>
    </tbody>
  </table>
</div> -->
<app-datagrid [columns]="columns" [isDeleted] = "canDelete" [data]="students" (rowClick)="onRowClick($event)" (rowDeleted)="onDeleteRow($event)"></app-datagrid>
</div>
