<!-- data-grid.component.html -->
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th *ngFor="let column of columns">
        {{ column }}
        <button class="btn btn-sm btn-link" (click)="sortData(column)">
          <i class="bi bi-arrow-up"></i>
        </button>
        <button class="btn btn-sm btn-link" (click)="reverseData(column)">
          <i class="bi bi-arrow-down"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data" (click)="onRowClick(row)">
      <td *ngFor="let column of columns">{{ row[column] }}</td>
      <td *ngIf="isDeleted">
        <button class="btn btn-danger" (click)="deleteRow(row)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
